<style>
	:host {
		display: flex;
	}

	.icon {
		height: 32px;
		margin: 0 10px;
	}

	.summary,
	.time,
	.temperature {
		line-height: 32px;
	}

	.temperature {
		color: rgba(255,255,255,.9);
		margin-right: 10px;
	}

	.warmer {
		color: #fcc;
	}

	.cooler {
		color: #ccf;
	}
</style>

<div class="time">{{data.time | date:'HH'}}</div>
<img src="{{iconUrl}}" class="icon">
<div class="temperature" [ngClass]="{warmer: difference == 'warmer', cooler: difference == 'cooler'}">{{data.temperature}}&deg;</div>
<div class="summary">{{data.summary}}</div>
