/* You can add global styles to this file, and also import other style files */

body { 
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: rgba(255,255,255,.7);
	padding: 0px;
	margin: 0px;
	background-color: #303030;
	background-image: url("./assets/backgrounds/clear-day.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

/* TODO: Find a better way to manage these scrollbars */
::-webkit-scrollbar {
    width: 0px;
}