/* You can add global styles to this file, and also import other style files */

body { 
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: rgba(255,255,255,.7);
	padding: 0px;
	margin: 0px;
	background-color: #303030;
	background-image: url("./assets/backgrounds/clear-day.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

/* Loading Screen */

.loading-screen {
	max-width: 750px;
	margin: 0 auto;
	height: calc(100vh - 60px);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loading-screen .temperature {
	color: rgba(255,255,255,.9);
	font-weight: 300;
	font-size: 10em;
}

.loading-screen .max-temp {
	color: #fcc;
	font-size: 2em;
}

.loading-screen .min-temp {
	color: #ccf;
	font-size: 2em;
}

/* TODO: Find a better way to manage these scrollbars */
::-webkit-scrollbar {
    width: 0px;
}